* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kumbh Sans;
}

:root {
    --Dark-cyan: #19a2ae;
    --Very-dark-desaturated-blue: #2d3248;
    --Dark-grayish-blue: #6a6f81;

    --Neutra-Dark-gray: #969696;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--Dark-cyan);
}

main .pattern-top img{
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);
}

main .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .card-component {
    width: 374px;
    background-color: white;
    border-radius: 20px;

}
main .card-component .card-topo img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}


main .card-component .card-perfil-img img{
    position: absolute;
    border: 6px solid white;
    border-radius: 50%;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main .card-component .card-perfil-nome {
    text-align: center;
    margin-top: 70px;
    font-weight: 700;
}

main .card-component .card-perfil-nome span, p {
    color: var(--Neutra-Dark-gray);
    font-weight: 400;
}
main .card-component .card-perfil-nome p{
    margin: 10px 0 30px;
}

main hr {
    border-width: 0; 
	height: 0.01px;
	border-top-width: 1px;
}

main .card-interacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
}

main .card-interacao p {
    color:var(--Neutra-Dark-gray);
    font-size: 12px;
}